@model IEnumerable<Jokes_recommender_system.Models.Entities.Joke>


<h2>@ViewBag.Title</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Joke", new { id = item.Id } )" class="btn btn-info btn-block">
                @item.Title
            </a>
        </td>
    </tr>
}

</table>
